@model Product

<form method="post" asp-action="Delete">
	<input hidden asp-for="Id" />
	<div class="border p-3 my-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Product</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Title"></label>
			<input asp-for="Title" class="form-control" disabled />
		</div>
		<div class="mb-3">
			<label asp-for="Description"></label>
			<textarea asp-for="Description" class="form-control border-0 shadow" disabled></textarea>
		</div>
		<div class="mb-3">
			<label asp-for="ISBN"></label>
			<input asp-for="ISBN" class="form-control" disabled />
		</div>
		<div class="mb-3">
			<label asp-for="Author"></label>
			<input asp-for="Author" class="form-control" disabled />
		</div>
		<div class="mb-3">
			<label asp-for="ListPrice"></label>
			<input asp-for="ListPrice" class="form-control" disabled />
		</div>
		<div class="mb-3">
			<label asp-for="Price"></label>
			<input asp-for="Price" class="form-control" disabled />
		</div>
		<div class="mb-3">
			<label asp-for="Price50"></label>
			<input asp-for="Price50" class="form-control" disabled />
		</div>
		<div class="mb-3">
			<label asp-for="Price100"></label>
			<input asp-for="Price100" class="form-control" disabled />
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}
